

<div id="carouselExampleAutoplaying" class="carousel slide container-sm my-carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.istockphoto.com/id/1307262288/es/foto/empresario-pago-con-tarjeta-de-cr%C3%A9dito-comprar-y-vender-productos-servicio.jpg?b=1&s=612x612&w=0&k=20&c=CL94yVEiptJ_m9YPfj3_NpWL32AgPkv1E_gFdJd5NI8=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/683647078/es/foto/dinero-en-efectivo-escritorio-con-terminal-de-pago-en-supermercado.jpg?b=1&s=612x612&w=0&k=20&c=eU5qnezPB8bWnfjTTXhgXRuFGkN6xhaRhiLTXfynpvs=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/1292754421/es/foto/pago-m%C3%B3vil-de-vista-superior-con-tecnolog%C3%ADa-nfc-en-las-compras-de-tel%C3%A9fonos-inteligentes-en.jpg?b=1&s=612x612&w=0&k=20&c=N6HEfcQbXWUHBE8CnJDTAgNe_LV2hIcr1N3o2IcggA4=" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>