<div class="container-sm categorias">
    <h2 class="category-title titulo">Descubre los mejores negocios en {{ciudad}}</h2>
    
     <div class="categorias-grid">
      <a href="/restaurantes" class="categoria-card">Restaurantes</a>
      <a href="/hoteles" class="categoria-card">Hoteles</a>
      <a href="/tiendas" class="categoria-card">Tiendas</a>
      <a href="/restaurantes" class="categoria-card">Restaurantes</a>
      <a href="/hoteles" class="categoria-card">Hoteles</a>
      <a href="/tiendas" class="categoria-card">Tiendas</a>
      <a href="/hoteles" class="categoria-card">Hoteles</a>
      <a href="/tiendas" class="categoria-card">Tiendas</a>
      <a href="/restaurantes" class="categoria-card">Restaurantes</a>
      <a href="/hoteles" class="categoria-card">Hoteles</a>
      <a href="/tiendas" class="categoria-card">Tiendas</a>
     </div>
      <!-- Añadir más categorías aquí -->
    </div>
  
  
